langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.34
langchain-text-splitters==0.2.2
llama-index-agent-openai==0.3.0
llama-index-embeddings-openai==0.2.3
llama-index-llms-openai==0.2.0
llama-index-multi-modal-llms-openai==0.2.0
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
langchain_chroma
langchain_openai

python-dotenv
langchain-community
llama-index
Flask
flask-cors
chromadb
nest-asyncio
uuid